//Colours
$primary-color: #ff6060;
$white: #ffffff;
$black: #000000;
$light-grey: #f6f6f6;
$dark-grey: #e3e3e3;

//Fonts
$font-main: 'Montserrat', system-ui, 'Avenir', Helvetica, Arial, sans-serif;

//Font-size
$font-size-xxs: 12px;
$font-size-xs: 16px;
$font-size-sm: 18px;
$font-size-md: 24px;
$font-size-lg: 32px;
$font-size-xl: 48px;
$font-size-xxl: 72px;
$font-size-xxxl: 98px;
$font-size-largest: 288px;

//Font-Weight
$primary-font-weight: 500;

//Border-Radius
$border-radius-xs: 5px;
$border-radius-sm: 10px;
$border-radius-lg: 25px;
$border-radius-circle: 50px;
